<div class="card">
  <div class="card-header">
    <%= "Details of #{@recipe.name}" %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @recipe.name %></h5>
    <% if @recipe.user == current_user %>
      <%= button_to 'Delete', recipe_path(@recipe), method: :delete, class: 'btn btn-sm btn-danger my-2' %>
    <% end %>
    <ul class="list-group list-group-flush p-3">
      <div class="row">
        <li class="list-group-item col border">Preparation time: <%= @recipe.preparation_time %></li>
        <li class="list-group-item col border">Cooking time: <%= @recipe.cooking_time %></li>
        <%= form_with class: 'col border' do |form| %>
          <div class="form-check form-switch mt-1">
            <%= form.label :public, class: 'form-check-label' %>
            <%= form.check_box :public, checked: @recipe.public, class: 'form-check-input' %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <li class="list-group-item col border">
          <p><strong>Description</strong></p>
          <p><%= @recipe.description %></p>
        </li>
      </div>
    </ul>
    <div class="d-flex justify-content-between my-3">
      <%=link_to 'Generate shopping list', new_food_path, class: 'btn btn-secondary' %>
      <%=link_to 'Add ingredients', new_food_path, class: 'btn btn-secondary' %>
    </div>
  </div>

</div>